a{
    color: #BA9773 !important;
    outline: none;
}

a:visited {
    color:  #251E18 !important;
}

mat-form-field {
    width: 70vw;
    position: relative;
}

button{
    background-color: transparent !important;
    border: none;
}

.table{
    width: 70vw;
    display: flex;
    flex-direction: column;
}
